<div class="panel no-sidebar">

  <div class="panel-content">

    <div class="content padding-10">
      <tree [id]="'test'"></tree>
    </div>

  </div>



  <modal [id]="'edit-division'" [footer]="false" [title]="'Структурное подразделение'" [width]="350">
    <div class="modal-content">
      <div class="row">
        <form action="">
          <div class="row padding-10">
            <label for="edit-division-title">Наименование</label>
            <input type="text"
                   name="title"
                   class="width-10"
                   id="edit-division-title"
                   placeholder="Введите наименование"
                   [(ngModel)]="selectedDivision.title">
          </div>
          <div class="row padding-10">
            <label for="edit-division-parent"></label>
            <input type="text"
                   name="parent"
                   id="edit-division-parent"
                   placeholder="Выберите родителя"
                   [(ngModel)]="$divisions.getById(selectedDivision.parentId).title">
          </div>
        </form>
      </div>
    </div>
  </modal>



</div>
