<p>
  phonebook works!<br>
  <button class="blue" (click)="openModal()">
    open modal
  </button>
  &nbsp;
  <button class="blue" (click)="closeModal()">
    open modal
  </button>
</p>

<modal [id]="'test'" [width]="400" [title]="'test modal title test modal title test modal title'" [footer]="true" (onOpen)="onModalOpen()" (onClose)="onModalClose()">
  <div class="modal-content">
    <p>this is a test modal content</p>
    {{ 5 + 5 }}
  </div>
  <div class="modal-footer">
   <div class="row width-100 padding-10">
     <div class="width-50">
       <button class="green width-100">
         <i class="fa fa-save"></i>&nbsp;
         Сохранить
       </button>
     </div>
     <div class="width-50">
       <button class="red width-100" (click)="closeModal()">
         <i class="fa fa-ban"></i>&nbsp;
         отмена
       </button>
     </div>
   </div>
  </div>
</modal>
