<div id="app-menu">

  <div id="current-user">
    <img src="assets/images/random.jpg" alt="">
    <div class="current-user-name">Головоногов Григорий</div>
    <div class="current-user-position">инженер-погромист</div>
  </div>

  <div id="items-container">

    <div class="menu-item">
      <a routerLink="/users" routerLinkActive="active">
        <span class="fa fa-user"></span>
        <span class="menu-item-title">Пользователи</span>
      </a>
      <div class="menu-item-container">
        <a href>Группы пользователей</a>
        <a href="#/ad-users">Пользователи ActiveDirectory</a>
      </div>
    </div>

    <div class="menu-item">
      <a routerLink="/phonebook" routerLinkActive="active">
        <span class="fa fa-address-book"></span>
        <span class="menu-item-title">Телефонный справочник</span>
      </a>
    </div>

    <div class="menu-item">
      <a routerLink="/divisions" routerLinkActive="active">
        <span class="fa fa-sitemap"></span>
        <span class="menu-item-title">Структура организации</span>
      </a>
    </div>
  </div>

</div>


<div id="app-content">

  <div id="app-content-header">

    <div *ngFor="let crumb of breadcrumb; let i = index; let isLast = last">
      <a routerLink="{{ crumb.snapshot.url[0] }}" class="app-content-title" [hidden]="isLast">{{ crumb.snapshot.data.extras.title }}</a>
      <span class="app-content-title active" [hidden]="!isLast">{{ crumb.snapshot.data.extras.title }}</span>
      <span class="app-content-title-divider" [hidden]="isLast"></span>
    </div>

    <div id="app-content-controls" [ngSwitch]="controls">
      <div *ngSwitchCase="'users'">
        <a routerLink="users/new">
          <i class="fa fa-plus"></i>
        </a>
      </div>
      <div *ngSwitchCase="'divisions'">
          <i class="fa fa-pencil"
             (click)="openEditDivisionModal()"
             *ngIf="$divisions.getSelected() !== null">
          </i>
      </div>
    </div>

  </div>

  <div id="app-content-content">
    <div class="padding-10" ng-view>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

