<div class="panel">

  <div class="panel-sidebar">
    <div class="row padding-10">
      <img src="../../../assets/images/no_photo.png" class="width-100" alt="">
    </div>
    <div class="row padding-10">
      <button class="blue width-100">Загрузить фото</button>
    </div>
  </div>

  <div class="panel-content">

    <div class="content padding-20">
      <div class="title margin-bottom-20">Личные данные</div>

      <div class="row margin-bottom-20">
        <label for="selected-user-name" class="width-100">Имя пользователя</label>
        <input type="text" name="" id="selected-user-name" class="width-100 dark" placeholder="Введите имя пользователя" [(ngModel)]="user.name">
      </div>

      <div class="row margin-bottom-20">
        <label for="selected-user-fname" class="width-100">Отчество пользователя</label>
        <input type="text" name="" id="selected-user-fname" class="width-100 dark" placeholder="Введите отчество пользователя" [(ngModel)]="user.fname">
      </div>

      <div class="row margin-bottom-30">
        <label for="selected-user-surname" class="width-100">Фамилия пользователя</label>
        <input type="text" name="" id="selected-user-surname" class="width-100 dark" placeholder="Введите фамилию пользователя" [(ngModel)]="user.surname">
      </div>

      <div class="title margin-bottom-20">Контактные данные</div>

      <div class="row margin-bottom-30">
        <label for="selected-user-email" class="width-100">E-mail пользователя</label>
        <input type="text" name="" id="selected-user-email" class="width-100 dark" placeholder="Введите e-mail пользователя">
      </div>

      <div class="title margin-bottom-20">Место работы и должность</div>

      <div class="row margin-bottom-20">
        <label for="selected-user-name" class="width-100">Имя пользователя</label>
        <input type="text" name="" id="selected-user-name" class="width-100 dark" placeholder="Введите имя пользователя">
      </div>

      <div class="row margin-bottom-20">
        <label for="selected-user-position" class="width-100">Должность пользователя</label>
        <input type="text" name="" id="selected-user-position" class="width-100 dark" placeholder="Введите должность пользователя">
      </div>
    </div>

  </div>



</div>
