#divisions {
  overflow: auto;
  position: absolute;
  left: 0px;
  top: 50px;
  bottom: 0px;
  float: left;
  display: block;
  width: 400px;
  padding: 10px;
  box-sizing: border-box;
  background: white;
}
#contacts {
  overflow: auto;
  position: absolute;
  left: 400px;
  top: 50px;
  bottom: 0px;
  right: 0px;
}
.contacts-header {
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Roboto Bold';
  font-size: 12px;
  text-transform: uppercase;
  color: #90A4AE;
}
.contacts-header .fa {
  color: #0097A7;
  cursor: pointer;
}
.contacts-header .fa:hover {
  color: #006064;
}
.contacts-header .contact-photo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
  width: 40px;
  min-width: 40px;
}
.contacts-header .contact-fio {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  padding-left: 20px;
  box-sizing: border-box;
}
.contacts-header .contact-email {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  padding-left: 20px;
  box-sizing: border-box;
}
.contacts-header .contact-phones {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  padding-left: 20px;
  box-sizing: border-box;
}
.contacts-header .contact-division {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: auto;
  width: 30%;
  padding-left: 20px;
  box-sizing: border-box;
}
.contact {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  height: 60px;
  margin-bottom: 8px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}
.contact:hover {
  background: #E3F2FD;
}
.contact .leading {
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  font-family: 'Roboto Bold';
  color: #37474F;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contact .additional {
  overflow: hidden;
  display: block;
  width: 100%;
  padding-top: 3px;
  color: #78909C;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contact .regular {
  overflow: hidden;
  display: block;
  width: 100%;
  padding-top: 3px;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contact .empty-value {
  color: grey;
}
.contact .contact-photo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
  width: 40px;
  min-width: 40px;
}
.contact .contact-photo .photo {
  height: 40px;
  background: #F5F5F5;
  border-radius: 50%;
}
.contact .contact-fio {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  padding-left: 20px;
  box-sizing: border-box;
}
.contact .contact-email {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  padding-left: 20px;
  box-sizing: border-box;
}
.contact .contact-phones {
  overflow: hidden;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  padding-left: 20px;
  box-sizing: border-box;
}
.contact .contact-division {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: auto;
  width: 40%;
  padding-left: 20px;
  box-sizing: border-box;
}
.filter-caption {
  float: left;
  padding: 3px;
  font-size: 11px;
  text-transform: uppercase;
  color: darkgrey;
}
.filter {
  display: inline-block;
  float: left;
  font-size: 12px;
  color: white;
  background: #90CAF9;
  border-radius: 2px;
}
.filter .filter-title {
  padding: 3px;
  text-align: center;
}
.filter .fa {
  padding: 3px;
  color: white;
  background: #64B5F6;
  cursor: pointer;
}
.filter .fa:hover {
  background: #1565C0;
}
